**#data structure solutions.**

In [ ]:
#THEORY SOLUTION

QUE01- what are data structures ,and why are they important?

ANS01-- Data structures are fundamental ways to organize and store data to enable efficient access and manipulation, and they are crucial for writing efficient and understandable code. They are essential for computer science because they allow users and systems to organize, work with, and store data efficientl

QUE02- explain the differnces between mutables and immutables data types with examples?

ANS02-- Mutable data types are those whose values can be modified after they are created, while immutable data types are those whose values cannot be modified once created.
EXAMPLES:
MUTABLES-Mutable objects can be changed after they are created. Common examples include:
Lists: Elements can be added, removed, or modified.
Dictionaries: Key-value pairs can be added, removed, or updated.
Sets: Elements can be added or removed

IMMUTABLES:Immutable objects cannot be changed after they are created. If a modification is needed, a new object must be created. Common examples include:
Strings: Individual characters cannot be changed.
Tuples: Elements cannot be added, removed, or modified.
Numbers (int, float, complex): Values cannot be changed.

QUE03- What are the main differnces between lists and tuples in python?

ANS03-- In Python, lists and tuples both store collections of data, but differ in mutability, performance and memory usage. Lists are mutable, allowing modifications, while tuples are immutable. Choosing between them depends on whether you need to modify the data or prioritize performance and memory efficiency.

QUE04- Describe how dictionaries store data?

ANS04-- The dictionary consists of a number of buckets. Each of these buckets contains the hash code of the object that contains the key-value pair. A pointer to the key object and a pointer to the value object

QUE05- Why might you use a set instead of a lists in python?

ANS05-- Since sets do not store indexed data or duplicates, they use less memory than lists and are less computationally expensive. As a result, sets take less time to search through. To test this, the code below performs two membership tests. In one case, the container is a list and in the other, it's a set.

QUE06- What is a string in python,and how is it different from a lists?

ANS06-- In Python, a string is an immutable sequence of characters enclosed in single or double quotes, while a list is a mutable, ordered collection of items (which can be of any data type) enclosed in square brackets.

QUE07- How do tuples ensure data integrity in python?

ANS07-- Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifespan, preventing accidental or unauthorized changes. Immutability is crucial in scenarios where data integrity is paramount, such as storing configuration settings, representing fixed records, or ensuring data consistency in concurrent environments. Tuples are defined using parentheses ()

QUE08- What is hashtable ,and how does it relate to dictionaries in python?

ANS08-- A hash table is a data structure that stores key-value pairs, where each key is unique and mapped to a specific value. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be looked up. This allows for efficient retrieval, insertion, and deletion of data, typically with an average time complexity of O(1).
In Python, dictionaries are implemented using hash tables. When you create a dictionary, Python internally uses a hash function to calculate the index for each key, storing the key-value pair in the corresponding location within the hash table. This implementation detail is why dictionaries in Python offer fast lookups, insertions, and deletions.
However, it's important to note that collisions can occur when different keys produce the same hash value. Python's dictionary implementation handles collisions using a technique called separate chaining, where multiple key-value pairs with the same hash value are stored in a linked list at that index.

QUE09- Can list contain different data types in python?

ANS09-- es, lists in Python can contain items of different data types. A single list can store integers, strings, floats, booleans, and even other lists or data structures. This flexibility is a key feature of Python lists.

QUE10- Explain why strings are immutables in python?

ANS10-- Strings are immutable in Python for reasons related to performance, safety, and design principles. Once a string is created, its value cannot be changed. Any operation that appears to modify a string actually creates a new string object.
One advantage of immutability is performance optimization. Since strings are immutable, Python can perform certain optimizations like string interning, where identical string literals are stored only once in memory. This reduces memory usage and improves performance, especially when dealing with many identical strings.
Immutability also contributes to the safety and robustness of code. Because strings cannot be changed after creation, they can be safely shared between different parts of a program without the risk of unintended modification. This is particularly important in multithreaded environments where multiple threads might access the same string.
Furthermore, immutability allows strings to be used as keys in dictionaries. Dictionaries in Python require their keys to be hashable, and mutable objects cannot be hashed. Since strings are immutable, their hash values remain constant, making them suitable for use as dictionary keys.

QUE11- What advantages do dictionaries offer over lists for certain tasks?

ANS11-- Dictionarys have two parts to every entry the key and the value and these are stored as pairs. This can give you more flexibility when storing data. The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary.

QUE12- Describe a scenario where ussing a tuples would be preferable over a list?

ANS12- When to use tuples or lists depends on your needs. There may be some occasions when you don't want your data to be changed. If you have data that's not meant to be changed in the first place — such as critical information or records — you should choose tuple data type over lists.

QUE13- How do sets handle duplicate values in python?

ANS13-- Python sets cannot have duplicate values. While you cannot modify the individual elements directly, you can still add or remove elements from the set. Output: The first code explains that the set cannot have a duplicate valu

QUE14- How does the "in" keyboards work differently for lists and dictionaaries?

ANS14-- For dictionaries

The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list. The execution time of in for values() is about the same as for lists. Key-value pairs are unique

QUE15- Can you modify the elements of a tuples ?expalin why or why not.

ANS15-- No, you cannot directly modify the elements of a tuple in Python because tuples are immutable, meaning their contents cannot be changed after creation.
Here's why:
Immutability: Tuples are designed to be a fixed, ordered collection of items, and allowing modification would violate this fundamental principle.
Data Integrity: Immutability helps ensure data integrity by preventing accidental or unintended changes to the tuple's contents.
Efficiency: Because tuples are immutable, the Python interpreter can optimize their storage and access, leading to potentially faster performance.
Alternative: If you need a mutable sequence, use a list instead.

QUE16- What is a nested dictionary,and give an examples of its use case?

ANS16-- A nested dictionary in Python is a dictionary where the values are themselves dictionaries, allowing for hierarchical data organization. A use case is storing employee records, where each employee's details (name, ID, etc.) are in a dictionary, and these employee dictionaries are grouped by department (another dictionary).
#EXAMPLE-
    # Nested dictionary representing employee records by department
    employee_data = {
        "Engineering": {
            "123": {"name": "Alice", "role": "Software Engineer"},
            "456": {"name": "Bob", "role": "Data Scientist"}
        },
        "Sales": {
            "789": {"name": "Charlie", "role": "Sales Manager"}
        }
    }

QUE17-Describe the time complexity of accessing elements in a dictionary?

ANS17- The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup. Why O(1)? Hash tables use the hash of the key to find the memory location which enables direct access.

QUE18- In what situations are lists prefered over dictinaries?

ANS18-- performing sequence operations, while dictionaries are better for quick data lookups or when using keys to access values.
Here's a more detailed explanation:
Lists:
Are ordered collections of items, meaning the order in which items are added is preserved.
Items can be accessed by their position (index), allowing for efficient iteration and manipulation based on order.
Useful for tasks like maintaining a stack, queue, or when needing to access elements in a specific sequence.
Good for situations where the order of elements is important

QUE19- Why are dictionaries considered unordered,and how does that affect data retrieval?

ANS19-- Dictionaries are considered unordered because they don't maintain a specific order of elements based on insertion, unlike lists or tuples. This means data retrieval is based on keys, not positions, and the order of keys in a dictionary can vary during iteration or printing.

QUE20- Explain the differnce between a lists and a dictionary in terms of data retrieval?

ANS20-- In data retrieval, lists access elements by their numerical index (starting from 0), while dictionaries access elements (values) by their unique key, offering faster lookups for specific data based on identifiers.

#PRACTICAL QUESTION SOLUTION:

QUE01- write a code to create a string with your name and print?

In [ ]:
print("yash martin")

yash martin

QUE02- Write a code to find the length of the string "hello world" ?

In [ ]:
string = "hello world"
length = len(string)
print(length)

11

In [ ]:
QUE03- Write a code to slice the first 3 character from the string "python programming"

In [ ]:
string = "python programming"
sliced_string = string[:3]
print(sliced_string)

pyt

QUE04- Write a code to convert the string "hello" to uppercase?

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

QUE05- Write a code to replace the word "apple" with "orange" in the string "i like apple".

In [ ]:
string = "i like apple"
new_string = string.replace("apple", "orange")
print(new_string)

i like orange

QUE06- Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

QUE07- Write a code to append the number 10 to the list [1,2,3,4] .

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

QUE08- Write a code to remove the number 3 from the list[1,2,3,4,5]

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

QUE09- Write a code to access the second element int the list [a, b, c, d]

In [ ]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]  # Indexing starts from 0
print(second_element)

b

QUE10- Write a code to reverse the list[10, 20, 30, 40, 50]

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()  # Using the reverse() method
print(numbers)

[50, 40, 30, 20, 10]

QUE11- Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

QUE12- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]  # Negative indexing
print(second_to_last)

blue

QUE13- Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

QUE14- Write the code to find the index of the element "cat" in the tuple ('dog', 'cat'. 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

QUE15- Write a code the create a tuple containing three different fruits and check if 'kiwi' is in it

In [ ]:
fruits = ('apple', 'banana', 'orange')

# Check if 'kiwi' is in the tuple
if 'kiwi' in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

QUE16- Write a code to create aa set with the elements 'a', 'b', 'c' and print it

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

QUE17- Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()  # This removes all elements from the set
print(my_set)

set()

QUE18- Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)  # Removes 4 from the set
print(my_set)

{1, 2, 3}

QUE19- Write a code to find the union of two sets{1,2,3} and {3,4,5}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)  # Using the union() method
print(union_set)

{1, 2, 3, 4, 5}

QUE20- Write a code to find the intersection of two sets {1, 2, 3} a {2, 3, 4}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)  # Using the intersection() method
print(intersection_set)

{2, 3}

QUE21- Write a code to create a dictionary with keys 'name', 'age' and 'city' and print it

In [ ]:
person = {
    'name': 'yash martin',
    'age': 23,
    'city': 'lucknow'
}

print(person)

{'name': 'yash martin', 'age': 23, 'city': 'lucknow'}

QUE22- Write a code to add new key-value pair "country": "USA" to the dictionary {name 'john', age 25 }

In [ ]:
person = {"name": "John", "age": 25}

# Adding a new key-value pair
person["country"] = "USA"

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

QUE23- Write a code access the value 'associated' with the key 'name'  in the dictionary {'name' alice: 'age' 30}

In [ ]:
person = {'name': 'Alice', 'age': 30}

# Accessing the value associated with the key 'name'
name_value = person['name']
print(name_value)

Alice

QUE24-Write  the code to remove the 'key' "age" from the dictionary {'name':bob, 'age':22, 'city':new york}

In [ ]:
my_dict = {'name': 'bob', 'age': 22, 'city': 'new york'}
del my_dict['age']
print(my_dict)

{'name': 'bob', 'city': 'new york'}

QUE25- Write a code to check if the key "city" exist in the dictionary{"name": Alice, "city": Paris}

In [ ]:
person = {"name": "Alice", "city": "Paris"}

# Checking if 'city' key exists
if "city" in person:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

QUE26- Write a code to create a list , a tuple and a dictionary, and print them all ?

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Printing them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

QUE27- Write a code to create a list of 5 random numbers between 1 to 100 sort it in ascending order and print the result(replaced)

In [ ]:
import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[6, 17, 34, 47, 51]

QUE28- Write a code to create a list with string and print the element of the third index

In [ ]:
# Creating a list of strings
my_list = ["apple", "banana", "cherry", "orange", "grape"]

# Accessing the element at index 3
third_index_element = my_list[3]

# Printing the result
print(third_index_element)

orange

QUE29- Write a code to combine tw dictionaries into one and print the result

In [ ]:
# Creating two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Merging dictionaries
combined_dict = {**dict1, **dict2}

# Printing the result
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

QUE30- Write a code to convert a list of strings into a set

In [ ]:
# Creating a list of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Converting the list into a set
my_set = set(my_list)

# Printing the result
print(my_set)

{'banana', 'cherry', 'apple'}